dv_khach_san.dtd

<!ELEMENT KHACH_SAN (THUE_PHONG,THUE_XE,DIEN_THOAI)>
<!ELEMENT THUE_PHONG (LOAI_PHONG+)>
<!ELEMENT THUE_XE (LOAI_XE+)>
<!ELEMENT DIEN_THOAI (LOAI_DIEN_THOAI+)>

<!ELEMENT LOAI_PHONG EMPTY>
<!ATTLIST LOAI_PHONG 
    ten CDATA #REQUIRED
    don_gia CDATA #REQUIRED>

<!ELEMENT LOAI_XE (#PCDATA)>
<!ATTLIST LOAI_XE 
    ten CDATA #REQUIRED
    don_gia CDATA #REQUIRED>

<!ELEMENT LOAI_DIEN_THOAI EMPTY>
<!ATTLIST LOAI_DIEN_THOAI
    ten CDATA #REQUIRED
    don_gia CDATA #REQUIRED>
