Hoa_don.dtd

<!ELEMENT HOADON (TIEUDE, SOHOADON, HOVATEN, NGAYLAP, BANGHOADON)>
<!ELEMENT TIEUDE (#PCDATA)>
<!ELEMENT SOHOADON (#PCDATA)>
<!ELEMENT HOVATEN (#PCDATA)>
<!ELEMENT NGAYLAP (#PCDATA)>
<!ELEMENT BANGHOADON (DICHVU+, TONGTIEN)>
<!ELEMENT DICHVU (#PCDATA)>
<!ELEMENT TONGTIEN (#PCDATA)>

<!ATTLIST DICHVU 
    Ten CDATA #REQUIRED
    Loai CDATA #REQUIRED
    SoLuong CDATA #REQUIRED
    DonGia CDATA #REQUIRED
    ThanhTien CDATA #REQUIRED>